<h1><%= @user.first_name %></h1>


<p style="color: green"><%= notice %></p>

<%= render @user %>

<% if current_user.following?(@user) %>
      <%= button_to "Unfollow", unfollow_path(@user) %>

<% elsif current_user.sent_follow_request_to?(@user) %>
      <%= button_to "Cancel follow request", cancel_path%>

<% elsif current_user.id != @user.id %>
      <%= button_to "Follow", follow_path(@user) %>
      
<% end %>

<%= link_to "Create a new post", new_post_path %>

<h2>All my posts</h2>
<ol>
      <% @posts.each do |post| %>
            <li>
            <%= post.content %>
            <%= link_to "Show this post", post %>
            
                  
            </li>
      <% end %>
</ol>
</br>

<%= link_to "Back to users", users_path %>
<%= button_to 'Log out', destroy_user_session_path, method: :delete %>

<% if @user.id == current_user.id %>
  <div>
    <%= link_to "Edit this user", edit_profile_path %> |
    
    
    <%= button_to "Destroy this user", @user, data: { confirm: "Are you sure you want to delete your account?" }, method: :delete %>
  </div>
<% end %>

