<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

<div id="users">
  <% @users.each do |user| %>
  <% if user.image.attached? %>
      <%= image_tag(user.image, style: "
            display: inline-block;
            width: 50px;
            border-radius: 50%;
            height: 50px;
            object-fit: cover;"
      )%>
      <% else %>
  <%= image_tag('default-profile.webp', style: "
          display: inline-block;
          width: 50px;
          border-radius: 50%;
          height: 50px;
          object-fit: cover;"
  ) %>
<% end %>
  <p><%= user.followers.count %> followers </p>
  <p><%= user.posts.count %> posts </p>
    <p>
      <%= link_to "Show #{user.first_name}", profile_path(user.id) %>
      <% if current_user.following?(user) %>
      <%= button_to "Unfollow", unfollow_path(user) %>

        <% elsif current_user.sent_follow_request_to?(user) %>
              <%= button_to "Cancel follow request", cancel_path(user)%>

        <% elsif current_user.id != user.id %>
              <%= button_to "Follow", follow_path(user) %>
              
        <% end %>
    </p>
    <hr>
  <% end %>
</div>

<ol>
    <% current_user.follow_requests.each do |request| %>
        <li>
            <%= request.followerable.email %> wants to follow you </br>
            <%= button_to "Accept", accept_path(request.followerable) %>
            <%= button_to "Decline", decline_path(request.followerable) %>
        </li>
    <% end %>
</ol>

<% current_user.followers.each do |follower| %>
  <%= link_to follower.email, profile_path(follower) %>is following you!
  <%= button_to "Unfollow", unfollow_path(follower) %>
<% end %>