<p style="color: green"><%= notice %></p>

<h1> All the Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
  <p>Author: <%= post.user.id == current_user.id ? "Me" : post.user.first_name %></p>
  <p><%= post.content %></p>
  <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
   <p><%= link_to "Show this post", post %></p>
  <hr>
    
  <% end %>
</div>

<%= link_to "New post", new_post_path %> | <%= link_to "Back to profile", profile_path(current_user) %>
