<p style="color: green"><%= notice %></p>

<%= render @post %>

<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>
<% end %>
<%= button_to "New comment", new_post_comment_path(@post), method: :get %>


<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<div>
<% if @post.user_id == current_user.id %>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= button_to "Destroy this post", @post, method: :delete %>
<% end %>
  
  <%= link_to "Back to posts", posts_path %> | 
  <%= link_to "Back to prodile", profile_path(current_user) %>

</div>
